* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1400px;
    width: 100%;
}

.wrap {
    background: url('../images/bg.png') no-repeat top center/910px 644px;
    width: 910px;
    height: 644px;
    position: relative;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.start {
    position: absolute;
    top: 32px;
    right: 233px;
    animation: startMove 1.5s linear infinite alternate;
}

.ufo {
    position: absolute;
    top: 153px;
    right: 52px;
    animation: upMove 1s ease-in-out, startMove 3s linear infinite alternate;
}

.planet {
    position: absolute;
    bottom: 84px;
    left: 175px;
    animation: upMove 1s ease-in-out, startMove 3s linear infinite alternate;
}

.content {
    height: 480px;
    width: 750px;
    z-index: 5;
}

.bottom {
    margin: -156px auto 0;
    display: block;
    z-index: 6;
    position: relative;
    animation: roundMove 3s linear infinite alternate;
}

li:nth-child(1) {
    background: url('../images/01.png');
    width: 464px;
    height: 123px;
    position: absolute;
    right: 217px;
    top: 153px;
    animation: one 1.5s linear infinite alternate;
}

li:nth-child(2) {
    background: url('../images/02.png');
    width: 404px;
    height: 123px;
    position: absolute;
    left: 447px;
    top: 245px;
    animation: one 1.5s linear infinite alternate;
}

li:nth-child(3) {
    background: url('../images/03.png');
    width: 404px;
    height: 123px;
    position: absolute;
    right: 421px;
    top: 323px;
    animation: one 1.5s linear infinite alternate;
}

li:nth-child(4) {
    background: url('../images/04.png');
    width: 284px;
    height: 123px;
    position: absolute;
    right: 177px;
    bottom: 121px;
    animation: one 1.5s linear infinite alternate;
}

@keyframes upMove {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes roundMove {
    0% {
        transform: translate(-20px, 0px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes one {
    0% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    } 
}
@keyframes two {
    0% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    } 
}

@keyframes startMove {
    0% {
        filter: brightness(60%);
    }

    100% {
        filter: brightness(150%);
    }
}