* {
    margin: 0;
    padding: 0;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html {
    font-size: calc(100vw / 750 * 100);
}

.wrap_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7.39rem;
}

.wrap {
    background: url('../images/img/bg.png') no-repeat top center/6.34rem 7.39rem;
    width: 6.34rem;
    height: 7.39rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.start {
    position: absolute;
    width: 3.72rem;
    height: 6rem;
    top: 0.32rem;
    right: 1.33rem;
    animation: startMove 1.5s linear infinite alternate;
}

.ufo {
    position: absolute;
    width: 0.73rem;
    height: 0.84rem;
    top: 0.6rem;
    left: 1.5rem;
    animation: upMove 1s ease-in-out, startMove 3s linear infinite alternate;
}

.planet {
    width: .56rem;
    height: .36rem;
    position: absolute;
    bottom: 1rem;
    left: 0.75rem;
    animation: upMove 1s ease-in-out, startMove 3s linear infinite alternate;
}

.content {
    height: 4.8rem;
    width: 7.5rem;
    z-index: 5;
}

.bottom {
    width: 6.4rem;
    height: 1.09rem;
    margin: -1rem auto 0;
    display: block;
    z-index: 6;
    position: relative;
    animation: roundMove 3s linear infinite alternate;
}

li:nth-child(1) {
    background: url('../images/img/01.png') no-repeat top center/5.83rem 1.23rem;
    width: 5.83rem;
    height: 1.23rem;
    position: absolute;
    right: 0.17rem;
    top: 1.53rem;
    animation: one 1.5s linear infinite alternate;
}

li:nth-child(2) {
    background: url('../images/img/02.png') no-repeat top center/5.07rem 1.23rem;
    width: 5.07rem;
    height: 1.23rem;
    position: absolute;
    right: -0.5rem;
    top: 2.8rem;
    animation: one 1.5s linear infinite alternate;
}

li:nth-child(3) {
    background: url('../images/img/03.png') no-repeat top center/5.03rem 1.23rem;
    width: 5.03rem;
    height: 1.23rem;
    position: absolute;
    right: 1.5rem;
    bottom: 2.24rem;
    animation: one 1.5s linear infinite alternate;
}

li:nth-child(4) {
    background: url('../images/img/04.png') no-repeat top center/3.29rem 1.23rem;
    width: 3.29rem;
    height: 1.23rem;
    position: absolute;
    right: 0.1rem;
    bottom: 1.1rem;
    animation: one 1.5s linear infinite alternate;
}

@keyframes upMove {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes roundMove {
    0% {
        transform: translate(-0.2rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes one {
    0% {
        transform: translate(0, -0.1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes two {
    0% {
        transform: translate(0, -0.1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes startMove {
    0% {
        filter: brightness(60%);
    }

    100% {
        filter: brightness(150%);
    }
}