* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: calc(100vw / 1920 * 100);
}

.wrap {
  background: url("../images/img/bg.png") no-repeat top center/9.10rem 6.44rem;
  width: 9.1rem;
  height: 6.44rem;
  position: relative;
  margin: 1.8rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.start {
  position: absolute;
  top: 0.32rem;
  right: 2.33rem;
  width: 3.98rem;
  height: 4.78rem;
  animation: startMove 1.5s linear infinite alternate;
}

.ufo {
  position: absolute;
  top: 1.53rem;
  right: 0.52rem;
  width: 0.73rem;
  height: 0.84rem;
  animation: upMove 1s ease-in-out, startMove 3s linear infinite alternate;
}

.planet {
  position: absolute;
  bottom: 0.84rem;
  left: 1.75rem;
  width: 0.56rem;
  height: 0.36rem;
  animation: upMove 1s ease-in-out, startMove 3s linear infinite alternate;
}

.content {
  height: 4.8rem;
  width: 7.5rem;
  z-index: 5;
}

.bottom {
  margin: -1.56rem auto 0;
  display: block;
  z-index: 6;
  position: relative;
  width: 7.8rem;
  height: 1.78rem;
  animation: roundMove 3s linear infinite alternate;
}

li:nth-child(1) {
  background: url("../images/img/01.png") no-repeat top center/4.64rem 1.23rem;
  width: 4.64rem;
  height: 1.23rem;
  position: absolute;
  right: 2.17rem;
  top: 1.53rem;
  animation: one 1.5s linear infinite alternate;
}

li:nth-child(2) {
  background: url("../images/img/02.png") no-repeat top center/4.03rem 1.23rem;
  width: 4.03rem;
  height: 1.23rem;
  position: absolute;
  left: 4.47rem;
  top: 2.45rem;
  animation: one 1.5s linear infinite alternate;
}

li:nth-child(3) {
  background: url("../images/img/03.png") no-repeat top center/4.03rem 1.23rem;
  width: 4.03rem;
  height: 1.23rem;
  position: absolute;
  right: 4.21rem;
  top: 3.23rem;
  animation: one 1.5s linear infinite alternate;
}

li:nth-child(4) {
  background: url("../images/img/04.png") no-repeat top center/2.84rem 1.23rem;
  width: 2.84rem;
  height: 1.23rem;
  position: absolute;
  right: 1.77rem;
  bottom: 1.21rem;
  animation: one 1.5s linear infinite alternate;
}

@keyframes upMove {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes roundMove {
  0% {
    transform: translate(-0.2rem, 0rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes one {
  0% {
    transform: translate(0, 0.1rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes two {
  0% {
    transform: translate(0, -0.1rem);
  }

  100% {
    transform: translate(0rem, 0rem);
  }
}

@keyframes startMove {
  0% {
    filter: brightness(60%);
  }

  100% {
    filter: brightness(150%);
  }
}
